<header class="container text-center my-2">
<nav class="row align-items-center justify-content-around" >
    <a class="d-block col-2 btn btn-dark" href="/weather/Zhytomyr">Zhytomyr</a>
    <a class="d-block col-2 btn btn-dark" href="/weather/Kyiv">Kyiv</a>
    <a class="d-block col-2 btn btn-dark" href="/weather/Lviv">Lviv</a>
    <a class="d-block col-2 btn btn-dark" href="/weather/Dnipro">Dnipro</a>
</nav>
</header>